 .u-section-1 {
  background-image: url("images/Group1291.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1440px;
  margin: 158px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 532px;
  min-height: 287px;
  height: auto;
  margin: 32px auto 0 56px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.4375rem;
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 131px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 37px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 704px;
  height: 635px;
  margin: -84px auto -150px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 992px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 436px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 401px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-image-1 {
    width: 496px;
    height: 447px;
    margin-top: -7px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 324px;
    min-height: 381px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    width: 384px;
    height: 346px;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 108px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 398px;
    min-height: 248px;
    margin-top: 0;
    margin-left: 44px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -5px;
  }

  .u-section-1 .u-text-3 {
    width: 401px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2px;
  }

  .u-section-1 .u-image-1 {
    height: 472px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 7px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 324px;
    min-height: 304px;
    margin-top: 26px;
    margin-right: -14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 324px;
    margin-top: -37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 324px;
  }

  .u-section-1 .u-text-3 {
    width: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-1 .u-image-1 {
    height: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  min-height: 406px;
}

.u-section-2 .u-sheet-1 {
  min-height: 569px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1440px;
  margin: 46px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 99px;
  height: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 99px;
  height: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 99px;
  height: 94px;
  margin: 23px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 992px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -64px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -47px;
    margin-right: -47px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 523px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    width: 768px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 196px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 200px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 576px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -47px;
    margin-right: -47px;
  }
} .u-section-3 {
  background-image: url("images/Group1351.png");
  background-position: 50% 50%;
  min-height: 997px;
}

.u-section-3 .u-text-1 {
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1.779;
  width: 676px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-1 {
  height: 618px;
  margin-top: 102px;
  margin-bottom: 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: -150px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-1 {
  width: 618px;
}

.u-section-3 .u-over-slide-1 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: -150px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-2 {
  width: 618px;
}

.u-section-3 .u-over-slide-2 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: -150px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-3 {
  width: 618px;
}

.u-section-3 .u-over-slide-3 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: -150px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-4 {
  width: 618px;
}

.u-section-3 .u-over-slide-4 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: -150px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-5 {
  width: 618px;
}

.u-section-3 .u-over-slide-5 {
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 785px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 40px;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 911px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 768px) / 2) + 59px);
    margin-left: calc(((100% - 768px) / 2) + 33px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 840px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 656px;
  }

  .u-section-3 .u-text-1 {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: url("images/Group130.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 2732px;
}

.u-section-4 .u-text-1 {
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1.779;
  width: 1252px;
  margin: 2px 94px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  width: 1136px;
  margin: 20px 152px 0;
}

.u-section-4 .u-image-1 {
  width: 324px;
  height: 324px;
  margin: 1233px auto 0 464px;
}

.u-section-4 .u-image-2 {
  width: 324px;
  height: 324px;
  margin: -648px auto 0 437px;
}

.u-section-4 .u-gallery-1 {
  height: 1746px;
  grid-gap: 17px 17px;
  margin-top: -1123px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 39px 39px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1879px;
  }

  .u-section-4 .u-text-1 {
    width: 992px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 992px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 303px;
    margin-right: 227px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 118px;
    margin-left: -50px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1200px;
    margin-top: -970px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3078px;
  }

  .u-section-4 .u-text-1 {
    width: 768px;
  }

  .u-section-4 .u-text-2 {
    width: 768px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1333px;
    margin-left: -13px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -659px;
    margin-left: 180px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2353px;
    margin-top: -1224px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 6779px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: 576px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: 576px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1610px;
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1482px;
    margin-left: 60px;
  }

  .u-section-4 .u-gallery-1 {
    height: 6445px;
    margin-top: -677px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4185px;
  }

  .u-section-4 .u-text-1 {
    width: 330px;
  }

  .u-section-4 .u-text-2 {
    width: 330px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1417px;
    margin-right: -35px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -1149px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 3751px;
    margin-top: -817px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 20px 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 938px;
}

.u-section-5 .u-group-1 {
  background-image: none;
  min-height: 758px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 56px 20px 0;
}

.u-section-5 .u-map-1 {
  height: 457px;
  width: 786px;
  margin: 37px 20px 0 auto;
}

.u-section-5 .u-group-elements-1 {
  width: 343px;
  min-height: 78px;
  margin: -363px auto 0 140px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 600;
  margin: 0;
}

.u-section-5 .u-group-elements-2 {
  width: 40px;
  min-height: 40px;
  margin: -74px auto 0 80px;
}

.u-section-5 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: 10px 10px 0;
  padding: 0;
}

.u-section-5 .u-group-elements-3 {
  width: 40px;
  min-height: 40px;
  height: auto;
  margin: 89px auto 0 80px;
}

.u-section-5 .u-group-elements-4 {
  min-height: 40px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -30px 10px 0;
  padding: 0;
}

.u-section-5 .u-group-elements-5 {
  width: 343px;
  min-height: 78px;
  margin: -40px auto 0 140px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-5 .u-group-1 {
    min-height: 844px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -48px;
    margin-right: auto;
    margin-left: 291px;
  }

  .u-section-5 .u-map-1 {
    height: 439px;
    width: 916px;
    margin-top: 234px;
    margin-right: auto;
  }

  .u-section-5 .u-group-elements-1 {
    height: auto;
    margin-top: -633px;
    margin-left: 334px;
  }

  .u-section-5 .u-group-elements-2 {
    height: auto;
    margin-top: -78px;
    margin-left: 276px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 58px;
    margin-left: 275px;
  }

  .u-section-5 .u-group-elements-5 {
    height: auto;
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-5 .u-group-1 {
    min-height: 854px;
    margin-top: 40px;
    margin-bottom: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -211px;
  }

  .u-section-5 .u-map-1 {
    height: 419px;
    width: 684px;
    margin-top: 423px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: -654px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    width: 343px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: -59px;
    margin-left: 131px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 68px;
    margin-left: 131px;
  }

  .u-section-5 .u-group-elements-5 {
    margin-top: -59px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-5 .u-group-1 {
    min-height: 743px;
    margin-top: 60px;
    margin-bottom: 58px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -22px;
  }

  .u-section-5 .u-map-1 {
    height: 325px;
    width: 482px;
    margin-top: 251px;
  }

  .u-section-5 .u-group-elements-1 {
    min-height: 72px;
    margin-top: -563px;
    margin-right: 27px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: -56px;
    margin-left: 86px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 92px;
    margin-left: 86px;
  }

  .u-section-5 .u-group-elements-5 {
    min-height: 72px;
    margin-top: -56px;
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-5 .u-group-1 {
    min-height: 742px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -148px;
  }

  .u-section-5 .u-map-1 {
    height: 231px;
    width: 252px;
    margin-top: 384px;
  }

  .u-section-5 .u-group-elements-1 {
    min-height: 98px;
    width: 215px;
    margin-top: -467px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: -69px;
    margin-left: 25px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 77px;
    margin-left: 25px;
  }

  .u-section-5 .u-group-elements-5 {
    width: 190px;
    min-height: 97px;
    margin-top: -68px;
    margin-right: 25px;
  }
}